.list-container {
    position: absolute;
    height: 100%;
    width: 100%;
    background: black;
    color: white;

    .bg {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 0;
        overflow: hidden;

        img {
            height: 100%;
        }

        &::after {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            content: '';
            background: rgba($color: #000000, $alpha: 0.5);

        }
    }

    .content {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        overflow: auto;

        .item {
            position: relative;


            .item-scroll {
                overflow-x: scroll;

                height: 80px;
                width: 100%;

                .item-wrapped {
                    display: flex;
                    width: calc(100% + 60px);
                    height: 100%;


                    .item-left {
                        height: 100%;
                        width: calc(100% - 60px);
                        display: inline-table;
                        position: relative;

                        .item-bg {
                            position: absolute;
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                            overflow: hidden;
                            background-image: linear-gradient( 135deg, #ABDCFF 10%, #0396FF 100%);
                        }

                        .item-content-wrapped {
                            position: absolute;
                            width: 100%;
                            height: 100%;
                            top: 0;

                            .item-content {
                                padding: 0 16px;
                                display: flex;
                                justify-content: space-between;
                                align-items: center;
                                height: 100%;

                                >div {
                                    display: flex;
                                    flex-direction: column;

                                    .time {
                                        font-size: 14px;
                                    }

                                    .city-name {
                                        font-size: 30px;
                                        line-height: 30px;
                                        display: flex;
                                        align-items: flex-end;
                                        white-space: nowrap;
                                        span {
                                            font-size: 12px;
                                            line-height: 14px;
                                        }
                                    }

                                    .temp {
                                        font-size: 55px;
                                        font-weight: lighter;
                                    }
                                }
                            }

                        }
                    }

                    .item-right {
                        display: inline-table;
                        height: 100%;
                        width: 60px;
                    }

                }
            }


            .item-del {
                background: #FF4848;
                height: 100%;
                width: 60px;
                position: absolute;
                right: 0px;
                top: 0;

                p {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    height: 100%;
                    text-align: center;
                }
            }
        }

        .set {
            display: flex;
            padding: 16px;
            align-items: center;
            justify-content: space-between;
            font-weight: 300;
            color: rgba($color: #ffffff, $alpha: 0.45);

            .temp-unit {

                >span {
                    padding-right: 4px;

                }

                span:last-child {
                    padding-left: 4px;
                }

                .active {
                    color: white
                }
            }

            >div {
                display: flex;
                align-items: center;
            }

            img {
                opacity: 0.45;
            }
        }

        .support {
            padding-top: 32px;
            text-align: center;

            img {
                opacity: 0.35;
            }
        }
    }


}