@media only screen and (min-width: 500px) {
  .App {
    position: absolute;
    top: 0;
    left: calc((100% - 500px) / 2);
    width: 500px !important;
    height: 1000px;
  }
}

@media only screen and (min-height: 1000px) {
  .App {
    position: absolute;
    height: 1000px;
    width: 100%;
    top: 0;
  }
}