@media only screen and (min-width: 375px) {
  .App {
    position: absolute;
    top: 0;
    left: calc((100% - 375px) / 2);
    width: 375px !important;
    height: 667px;
  }
}

@media only screen and (min-height: 667px) {
  .App {
    position: absolute;
    height: 667px;
    width: 100%;
    top: 0;
  }
}